<div ng-controller="DicteeCtrl as dictee">
    <h1>Dictée de mots</h1>
    <h2>{{dictee.points}} / {{dictee.total}} points</h2>
    <form name="answerForm" ng-submit="dictee.checkAnswer(dictee.question.answer)">
        <blockquote>
            {{dictee.question.answer | uppercase}}
        </blockquote>
        <img src="../images/Sound.ico" width="40" ng-click="dictee.readWord()">
        <input ng-model="dictee.question.answer">
        <input type="submit" value="Verifier"/>
        <h1 ng-show="dictee.question.correct">BRAVO !</h1>
        <h3 ng-hide="dictee.question.correct">Ecris ce que tu entends</h3>
    </form>
</div>